<div class="dark-font">

  <ol class="breadcrumb cyan lighten-4">
    <li class="breadcrumb-item active">SWP Calculator</li>
  </ol>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <!--Main content begin -->
    <div class="col-8">
      <!-- Input begin -->
      <ol class="breadcrumb cyan lighten-4">
        <li class="breadcrumb-item active">Input</li>
      </ol>
      <!-- Input end -->

      <div class="row">
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Total Amount</label>
          <input type="email" class="form-control" [(ngModel)]="initialCapital" >
        </div>
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Equity Perentage (%)</label>
          <input type="email" class="form-control" [(ngModel)]="equityPerentage">
        </div>
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Debt Perentage (%)</label>
          <input type="email" class="form-control" [(ngModel)]="debtPercent">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Increase in Withdrawl (%)</label>
          <input type="email" class="form-control" [(ngModel)]="withdrawlIncreasePercent">
        </div>
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Equity Growth Perentage (%)</label>
          <input type="email" class="form-control" [(ngModel)]="equityGrowthPerentage">
        </div>
        <div class="col-sm-4">
          <label for="defaultFormLoginEmailEx" class="grey-text">Debt Growth Perentage (%)</label>
          <input type="email" class="form-control" [(ngModel)]="debtGrowthPercent">
        </div>
      </div>

      <div class="row">
          <div class="col-sm-4">
              <label for="defaultFormLoginEmailEx" class="grey-text">Monthly withdrawl</label>
              <input type="email" class="form-control"   [(ngModel)]="initialWithdrawl">
          </div>
          <div class="col-sm-8">
          </div>
        </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="text-left">
            <button class="btn btn-indigo" type="submit" (click)="startSimulation()" >Calculate</button>
          </div>
        </div>
        <div class="col-sm-8">
        </div>
      </div>

      <!-- Output begin -->
      <ol class="breadcrumb cyan lighten-4">
        <li class="breadcrumb-item active">Results</li>
      </ol>

      <table class="table table-hover">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Year</th>
              <th>Year Begin Balence</th>
              <th>Withdrawn</th>
              <th>Equity Value</th>
              <th>Debt Value</th>
            </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let yearRecord of tableData; let i=index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{yearRecord.year}}</td>
                  <td>{{yearRecord.yeb}}</td>
                  <td>{{yearRecord.withdraw}}</td>
                  <td>{{yearRecord.eqv}}</td>
                  <td>{{yearRecord.dv}}</td>
                </tr>
          </tbody>
        </table>


        <div style="display: block">
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>

      <!-- Output end -->

    </div>
    <!--Main content end -->
    <div class="col-2"></div>
  </div>
</div>

<div class="dark-font">

    <ol class="breadcrumb cyan lighten-4">
      <li class="breadcrumb-item active">SWP Calculator</li>
    </ol>
  </div>