<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-divider">
            Getting a house for free - The rich mentality
            <span class="panel-subtitle title-description">Buying a place of one's own is a dream, no matter which part
              of the world you
              belong to. The process is extremely simple, find a house that you like which is available for sale, pay
              the
              price in full or take a partial or full loan from your local bank. Easy right...
              Well yes, but there is a way to become the owner of the house without paying anything from your pocket.
              Sounds unrealistic, it isn't. <br>
              Here's how you do it, gather small sum over a period of time and invest it, let's assume you
              accumulated an amount of A=(F+P), the price of the house you wish to buy is P, and your monthly EMI is say E, if
              you start withdrawing E every month from A, it can happen that after you pay the last EMI you still have
              full amount A remaining. The question here is how big should the amount A be, such that after paying all
              your EMI you still have A remaining. This kind of purchasing strategy makes the rich even
              richer.</span>
          </div>
          <div class="panel-body">
            <div class="xs-mt-10 xs-mb-10  ">
              <div class="row">
                <div class="col-md-8">
                  <form [formGroup]="houseForm" class="form-horizontal">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Choose currency</label>
                        <div class="col-sm-9">
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="currency" name="currency" value="doller"> $
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="currency" name="currency" value="pound"> £
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" formControlName="currency" name="currency" value="rupee"
                                checked="checked"> ₹
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Additional Availble Funds (F)</label>
                        <div class="col-sm-3">
                          <input formControlName="currentAvailableFund" type="number">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Current price of the House (P)</label>
                        <div class="col-sm-3">
                          <input formControlName="currentCost" type="number">
                        </div>
                        <label class="col-sm-3 control-label" for="form-control-1">Loan tenure in years</label>
                        <div class="col-sm-3">
                          <input formControlName="loanTenure" type="number">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-1">Loan Interest rate %</label>
                        <div class="col-sm-3">
                          <input formControlName="loanOnInterestRate" type="number">
                        </div>
                        <label class="col-sm-3 control-label" for="form-control-1">Expected annual rate of return on investement
                          %</label>
                        <div class="col-sm-3">
                          <input formControlName="returnRateOnInvestement" type="number">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <!--
                        <label class="col-sm-3 control-label" for="form-control-1">Rate of inflation %</label>
                        <div class="col-sm-3">
                          <input formControlName="rateOfInflation" type="number">
                        </div>
                      -->
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label" for="form-control-2"></label>
                        <div class="col-sm-9">
                          <p class="xs-mt-10 xs-mb-10">
                            <button type='button' (click)="analyse()" class="btn btn-space btn-success">Analyse</button>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="showAnanlysis" class="form-group">
                      <div class="row">
                        <label class="col-sm-3 control-label">Analysis</label>
                        <div class="col-sm-9">
                          <p class="form-control-static">With all the deails you are provided. We have determined the
                            following.</p>
                          <p class="form-control-static">
                            You need to have {{currency}}{{currentCapitalNeeds | number }} (A) today in order for you to
                            purchase a house
                            worth {{currency}}{{currentCost | number }}, with a monthly EMI of {{currency}}{{emi*-1 |
                            number}} (E).
                            If you pay the full amount today and invest the remmaining amount, at the end of
                            {{loanTenure }} months you will have a house
                            worth {{currency}}{{currentCost | number }} and cash equivalent to
                            {{currency}}{{remainingAmountWithFullPay | number }}.
                            If you instead choose to pay EMI from the amount you have accumulated, at the end of
                            {{loanTenure}} month you will have
                            a house worth {{currency}}{{currentCost | number }} and cash equivalent to {{currency}}{{remainingAmountWithFullEmi | number}} 
                            [Try increasing aditional amount or loan period, such that remaining amount after paying all EMI is more than the total you you had in the begining (A)]. 
                            </p>
                            <p *ngIf="remainingAmountWithFullEmi>currentCapitalNeeds" class="form-control-static">
                            Since you stil have your original capital with you after
                            {{loanTenure }}
                            months, your house is technically free of cost.</p>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>