<div class="" id="page-wrapper">
    <div class="container-fluid">
      <div class="row row-stat">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">
                Getting a house for free - The rich mentality
                <span class="panel-subtitle">Buying a place of one's own is a dream, no matter which part of the world you belong to. The process is extremely simple, find a house that you like ans is available for sale, pay the price in full or take a partial or full loan from your local bank. Easy right...
Well yes, but there is a way to become the owner of the house without paying anything from your pocket. Sounds unrealistic, it isn't.
Here's how you do it, gather small sum over a period of time and invest it in an index fund, suppose you accumulated an amount of A, the price of the house you wish to buy is P,  and your monthly EMI is say E, if you start withdrawing E every month from A, it can happen that after you pay the last EMI you still have full amount A remaining. The question here is how big should the amount A be, such that after paying all your EMI you still have A remaining. Even better would be retain the purchasing power of A, that's where you plugin inflation in the calculation.</span>
            </div>
            <div class="panel-body">
              <div class="xs-mt-10 xs-mb-10  ">
                <div class="row">
                  <div class="col-md-8">
                    <form [formGroup]="houseForm" class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                              <label class="col-sm-3 control-label">Choose currency</label>
                              <div class="col-sm-9">
                                <div class="radio">
                                  <label>
                                    <input type="radio" formControlName="currency" name="currency" value="doller"> $
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" formControlName="currency" name="currency" value="pound"> £
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" formControlName="currency" name="currency" value="rupee" checked="checked"> ₹
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-3 control-label" for="form-control-1">Current price of the House</label>
                          <div class="col-sm-3">
                            <input  formControlName="currentCost" type="number">
                          </div>
                          <label class="col-sm-3 control-label" for="form-control-1">Loan tenure in years</label>
                          <div class="col-sm-3">
                            <input formControlName="loanTenure" type="number">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-3 control-label" for="form-control-1">Loan Interest rate %</label>
                          <div class="col-sm-3">
                            <input formControlName="loanOnInterestRate" type="number">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-3 control-label" for="form-control-1">Expected annual rate of return %</label>
                          <div class="col-sm-3">
                            <input formControlName="returnRateOnInvestement" type="number">
                          </div>
                          <label class="col-sm-3 control-label" for="form-control-1">Rate of inflation %</label>
                          <div class="col-sm-3">
                            <input formControlName="rateOfInflation" type="number">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <label class="col-sm-3 control-label" for="form-control-2"></label>
                          <div class="col-sm-9">
                            <p class="xs-mt-10 xs-mb-10">
                                <button type='button' (click)="analyse()" class="btn btn-space btn-success">Analyse</button>
                              </p>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="showAnanlysis" class="form-group">
                        <div class="row">
                          <label class="col-sm-3 control-label">Analysis</label>
                          <div class="col-sm-9">
                            <p class="form-control-static">With all the deails you are provided. We have determined the following.</p>
                            <p class="form-control-static">
                                You need to have {{currency}}{{currentCapitalNeeds | number }} today in order for you to purchase a house
                                worth {{currency}}{{currentCost | number }}, with a monthly EMI of {{currency}}{{emi*-1 | number}}. 
                                If you pay the full amount today, at the end of {{loanTenure }} months you will have a house 
                                worth  {{currency}}{{currentCost | number }} and cash equivalent of {{currency}}{{remainingAmountWithFullPay | number }}.
                                If you instead choose to pay EMI from the amount you have accumulated, at the end of {{loanTenure}} month you will have
                                 a house and cash equivalent of {{currency}}{{remainingAmountWithFullEmi | number}}. Since you stil have your original capital [adjusted for inflation] with you after {{loanTenure }} months, 
                                the house is technically free of cost.</p>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  